.ButtonOptions{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #389E0D;
  white-space: nowrap;
}

.EditImages{
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
